// IndividualEvaluationReport.scss
.individual-evaluation-report {
  margin-bottom: 9rem;
  padding: 2rem;

  h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }

  .ant-table {
    border: 1px solid #e8e8e8;
  }

  .ant-table-thead > tr > th {
    background-color: #f0f0f0;
    font-weight: bold;
  }

  .student-info {
    display: flex;
    align-items: center;

    .ant-avatar {
      margin-right: 10px;
    }
  }

  .grade {
    font-weight: bold;
  }

  .actions {
    display: flex;
    align-items: center;
    gap: 1rem;

    .action-link {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: #1890ff;
      cursor: pointer;

      &:hover {
        color: #40a9ff;
      }

      svg {
        font-size: 1.25rem;
      }
    }
  }

  .modal-content {
    display: flex;
    gap: 20px;
  }
}

.ant-modal-content {
  position: relative;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  pointer-events: auto;
  width: 110rem;
  right: 65%;
  height: 50rem;
}
.modal-content {
  display: flex;
  gap: 20px;
justify-content: space-between;
  .docx-viewer {
    height: 500px;
    // flex: 1;
  }
}
