.individual-evaluation-report {
  padding: 2rem;
  // background-color: #f5f7ff;
  margin-bottom: 10rem;
  h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1.5rem;
  }

  .ant-table {
    background-color: transparent;

    .ant-table-thead {
      display: none;
    }

    .ant-table-tbody {
      > tr {
        > td {
          background-color: white;
          border: none;
          padding: 1rem;

          &:first-child {
            border-top-left-radius: 12px;
            border-bottom-left-radius: 12px;
          }

          &:last-child {
            border-top-right-radius: 12px;
            border-bottom-right-radius: 12px;
          }
        }

        &:hover > td {
          background-color: #f9f9f9 !important;
        }

        &:not(:last-child) {
          margin-bottom: 0.5rem;
        }
      }
    }
  }
  .page-title {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: 500;
  }
  .student-info {
    display: flex;
    align-items: center;

    .ant-avatar {
      margin-right: 1rem;
      width: 30px;
      height: 30px;
      font-size: 1rem;
    }

    span {
      font-weight: 500;
      color: #333;
    }
  }

  .grade {
    font-weight: bold;
    color: #333;
    font-size: 1.1rem;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;

    .action-link {
      display: flex;
      align-items: center;
      color: #5c2ede;
      font-size: 1.2rem;

      .anticon {
        margin-right: 0.3rem;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.ant-modal-content {
  position: relative;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  pointer-events: auto;
  // width: 100%;
  // max-width: 90vw;
  width: 80vw;

  right: 67%;
  margin: 0 auto;
}

.modal-content {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  height: 50rem;
}
