// IndividualEvaluationReport.scss
.individual-evaluation-report {
  .student-info {
    display: flex;
    align-items: center;
    
    span {
      margin-left: 10px;
    }
  }

  .actions {
    a {
      margin-right: 10px;
    }
  }
}
.ant-modal-content {
  position: relative;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  pointer-events: auto;
  width: 110rem;
  right: 65%;
  height: 50rem;
}
.modal-content {
  display: flex;
  gap: 20px;
justify-content: space-between;
  .docx-viewer {
    height: 500px;
    // flex: 1;
  }
}
