.login-page {
  display: flex;
  height: 100vh;
}

.form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10%;
  background-color: white;
  text-align: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-container {
  position: relative;
}

.input {
  border-radius: 8px;
  padding: 10px;
  background-color: #F0EDFFCC;
  // border: 1px solid #e0e0e0;
  margin-bottom: 1rem;
}

.button {
  // width: 100%;
  background: linear-gradient(90deg, #6d28d9 0%, #cf2887 100%);
  color: #fff;
  border: none;
  border-radius: 16px;

  cursor: pointer;
  transition: background 0.3s;
  height: 4rem;
  width: 12rem;
  &:hover {
    background: linear-gradient(90deg, #cf2887 0%, #6d28d9 100%);
  }
}

.toggle {
  margin-top: 1rem;
  font-size: 0.9rem;

  p {
    cursor: pointer;
    color: #6d28d9;
    transition: color 0.3s;

    &:hover {
      color: #cf2887;
    }
  }
}

.social-login {
  margin-top: 0.5rem;
  text-align: center;
  color: #000;

  h2 {
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: bold;
  }

  .social-buttons {
    display: flex;
    flex-direction: column;

    .social-button {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #e0e0e0;
      border-radius: 8px;
      padding: 10px;
      margin-bottom: 1rem;
      cursor: pointer;
      transition: background 0.3s;

      &.google {
        background-color: #fff;
        color: #db4437;

        &:hover {
          background-color: #f0f0f0;
        }
      }

      &.facebook {
        background-color: #fff;
        color: #3b5998;

        &:hover {
          background-color: #f0f0f0;
        }
      }

      img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }

      span {
        font-size: 0.9rem;
      }
    }}}
  


.info-container {
  flex: 1;
  color: white;
  padding: 5% 10%;
  position: relative;
  overflow: hidden;
  background-image: url("../../../assests/banner.png"); /* Add the path to your image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.info-content {
  position: relative;
  z-index: 1;
}

.info-small-text {
  font-size: 14px;
  margin-bottom: 20px;
}

.info-large-text {
  font-size: 28px;
  font-weight: normal;
  margin: 5px 0;
}

.emphasis {
  font-weight: bold;
}

.icon-container {
  background-color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.teacher-image {
  position: absolute;
  bottom: 0;
  right: 0;
  max-height: 60%;
  z-index: 0;
}
