.modify-assignment-page {
  padding: 2rem;
height: 100vh;
overflow: auto;
  .content-wrapper {
    // max-width: 1200px;
    margin: 0 auto;
    padding: 2% 8%;
  }

  .assignment-header {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
justify-content: center;
    .assignment-name-input {
      background-color: #f8f7ff;
      border: none;
      border-radius: 25px;
      padding: 10px 20px;
      font-size: 16px;
      color: #6c63ff;
      width: 100%;
      width: 600px;
      margin-bottom: 20px;
  
      &::placeholder {
        color: #a8a4ff;
      }
    }
  }

  .page-title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .upload-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1.5rem;
    margin-bottom: 2rem;
 
  }

  .upload-card {
    border: 1px solid #d9d9d9;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    padding: 4% 0;
    height: 30rem;
    .upload-area {
      margin-top: 10px;
      .upload-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 18rem;
        .upload-icon {
          font-size: 32px;
          color: #1890ff;
        }
        .file-count {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 100%;
  
          span {
            // font-size: 16px;
            // margin: 10px 0;
          }
  
          .add-more-btn {
            margin-top: 10px;
          }
        }
  
        .file-types {
          margin-top: 5px;
          color: #888;
          // display: none;
        }
      
      }
      .success-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p {
          margin-top: 10px;
          color: green;
          font-weight: bold;
        }
      }
    }
  }
  .ant-upload-list {
    display: none;
}
  .start-grading-btn {
    background: linear-gradient(90deg, #6d28d9 0%, #cf2887 100%);
  color: #fff;
  border: none;
  border-radius: 16px;

  cursor: pointer;
  transition: background 0.3s;
  height: 4rem;
  width: 16rem;
  &:hover {
    background: linear-gradient(90deg, #cf2887 0%, #6d28d9 100%);
  }
  }
.rest-grading-btn{
  background: linear-gradient(90deg, #6d28d9 0%, #cf2887 100%);
  color: #fff;
  height: 3.5rem;
  border-radius: 8px;
}
  .loading-skeletons {
    margin-top: 2rem;
  }

  .evaluation-reports {
    margin-top: 2rem;
  }
}