$border-color: #6c63ff;
$highlight-color: #6c63ff;
$file-type-color: #888;
$success-color: green;
$gap: 1.5rem;
$padding: 20px;
$border-radius: 8px;
$icon-size: 32px;
$button-padding: 4% 0;
$card-height: 30rem;
$upload-content-height: 18rem;
.modify-assignment-page {
  // padding: 2rem;
  height: 100vh;
  overflow: auto;
  .content-wrapper {
    // max-width: 1200px;
    margin: 0 auto;
    padding: 2% 8%;
  }

  .assignment-header {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
    justify-content: center;
    .assignment-name-input {
      background-color: #f8f7ff;
      border: none;
      border-radius: 25px;
      padding: 10px 20px;
      font-size: 16px;
      color: #6c63ff;
      width: 100%;
      width: 600px;
      margin-bottom: 20px;

      &::placeholder {
        color: #a8a4ff;
      }
    }
  }

  .page-title {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: 500;
  }

 // Grid layout
.upload-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: $gap;
  margin-bottom: 2rem;
}

// Card styling
.upload-card {
  border: 2px solid $border-color;
  padding: $padding;
  border-radius: $border-radius;
  text-align: center;
  padding: $button-padding;
  height: $card-height;
}

// Upload area styling
.upload-area {
  margin-top: 10px;
}

// Upload content styling
.upload-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: $upload-content-height;
}

// Icon styling
.upload-icon {
  font-size: $icon-size;
  color: $highlight-color;
  margin-top: 10px;
}

// File count styling
.file-count {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 10px;
}

// File types styling
.file-types {
  margin-top: 5px;
  color: $file-type-color;
  margin-top: 10px;
}

// Success icon styling
.success-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;

  p {
    margin-top: 10px;
    color: $success-color;
    font-weight: bold;
  }
}
  
  .ant-upload-list {
    display: none;
  }
  .start-grading-btn {
    background: linear-gradient(90deg, #6d28d9 0%, #cf2887 100%);
    color: #fff;
    border: none;
    border-radius: 40px;

    cursor: pointer;
    transition: background 0.3s;
    height: 4rem;
    // width: 16rem;
    &:hover {
      background: linear-gradient(90deg, #cf2887 0%, #6d28d9 100%);
    }
  }
  .rest-grading-btn {
    background: linear-gradient(90deg, #6d28d9 0%, #cf2887 100%);
    color: #fff;
    height: 3.5rem;
    border-radius: 8px;
  }
  .grading-message {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    background: linear-gradient(90deg, #A828CF 0%, #3713C1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    line-height: 1.2;
    margin-bottom: 1rem;

    .loading-skeletons {
      margin-top: 20px;
    }
  }

  .evaluation-reports {
    margin-top: 2rem;
  }
}
