.evaluation-report-page {
    padding: 2rem;
    // background-color: #f5f7ff;
  
    h1 {
      font-size: 1.5rem;
      font-weight: bold;
      color: #333;
      margin-bottom: 1.5rem;
    }
  
    .stats-cards {
      display: flex;
      gap: 1rem;
      margin-bottom: 1.5rem;
  
      .stat-card {
        flex: 1;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
        display: flex;
        align-items: center;
        padding: 1rem;
  
        .icon {
          font-size: 2rem;
          margin-right: 1rem;
          color: #8080ff;
        }
  
        .content {
          flex-grow: 1;
  
          h3 {
            font-size: 1.3rem;
            color: #666;
            margin-bottom: 0.5rem;
          }
  
          h2 {
            font-size: 2.8rem;
            font-weight: bold;
            color: #333;
            margin-bottom: 0.5rem;
          }
  
          span {
            font-size: 1.2rem;
            font-weight: bold;
            padding: 0.2rem 0.5rem;
            border-radius: 12px;
  
            &.positive {
              background-color: #e6ffee;
              color: #00cc66;
            }
  
            &.negative {
              background-color: #ffe6e6;
              color: #ff6666;
            }
          }
  
          a {
            display: block;
            font-size: 1.2rem;
            color: #8080ff;
            margin-top: 0.5rem;
            text-decoration: underline;
          }
        }
      }
    }
  
    .charts-section {
      display: flex;
      gap: 1rem;
      height: 100%;
      .chart-card,
      .histogram-chart {
        flex: 1;
        border-radius: 12px;
        // box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
        padding: 1rem;
     
        // width: 50%;
        
        h3 {
          font-size: 1rem;
          color: #333;
          margin-bottom: 1rem;
        }
      }
    }
    
  }