.evaluation-report-page {
    padding: 2rem;
    // background-color: #f5f7ff;
  
    h1 {
      font-size: 1.5rem;
      font-weight: bold;
      color: #333;
      margin-bottom: 1.5rem;
    }
  
    .stats-cards {
      display: flex;
      gap: 1rem;
      margin-bottom: 1.5rem;
  
      .stat-card {
        flex: 1;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
        display: flex;
        align-items: center;
        padding: 1rem;
  
        .icon {
          font-size: 2rem;
          margin-right: 1rem;
          color: #8080ff;
        }
  
        .content {
          flex-grow: 1;
  
          h3 {
            font-size: 1.3rem;
            color: #666;
            margin-bottom: 0.5rem;
          }
  
          h2 {
            font-size: 2.8rem;
            font-weight: bold;
            color: #333;
            margin-bottom: 0.5rem;
          }
  
          span {
            font-size: 1.2rem;
            font-weight: bold;
            padding: 0.2rem 0.5rem;
            border-radius: 12px;
  
            &.positive {
              background-color: #e6ffee;
              color: #00cc66;
            }
  
            &.negative {
              background-color: #ffe6e6;
              color: #ff6666;
            }
          }
  
          a {
            display: block;
            font-size: 1.2rem;
            color: #8080ff;
            margin-top: 0.5rem;
            text-decoration: underline;
          }
        }
      }
    }
    .analysis-section {
      margin-bottom: 80px;
      margin-top: 50px;
  
      h1 {
        text-align: center;
        margin-bottom: 20px;
      }
  
      h2 {
        margin-top: 20px;
        margin-bottom: 10px;
        color: #333;
        font-size: 2rem;
      }
  
      .analysis-content {
        .analysis-item {
          margin-bottom: 10px;
  
          strong {
            display: block;
            color: #6c63ff;
            margin-bottom: 5px;
          }
  
          p {
            margin: 0 0 10px;
            color: #555;
          }
  
          h3 {
            margin: 10px 0;
          }
  
          ul {
            margin: 0 0 10px 20px;
            padding: 0;
            list-style-type: disc;
  
            li {
              margin-bottom: 5px;
            }
          }
        }
      }}    
    .charts-section {
      display: flex;
      gap: 10px;
      // padding: 20px;
      // background-color: #f5f5f5;
      margin:3% 0%;
    }
    
    .chart-container {
      flex: 1;
      background-color: white;
      border-radius: 8px;
      // box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      // padding: 10px;
      display: flex;
      flex-direction: column;
    }
    
    .chart-container > div {
      flex: 1;
    }
  }